<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

	<description>TopFirst</description>
	<!-- capcha settings -->
	<context-param>
	<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
	<param-value>6Leu4swSAAAAAIs8qNC4C8IOs69AG7OJB7nf2vl6</param-value>
	</context-param>
	<context-param>
	<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
	<param-value>6Leu4swSAAAAABn8eY2HjTtSigrstfG27qUfljYd</param-value>
	</context-param>
	<!-- JSF standard parameters -->
	<context-param>
		<description>
			Project stage for the application (new in 2.0). Expects one of
			the following values: Development, Production, SystemTest, UnitTest
		</description>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<description>
			If this parameter is set to true and the submitted value of a component is
			the empty string, the submitted value will be set to null
		</description>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			State saving method: "client" or "server" (= default)
			See JSF Specification 2.5.3
		</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

	<!-- MyFaces specific parameters -->
	<context-param>
		<description>
			Only applicable if state saving method is "server" (= default).
			Defines the amount (default = 20) of the latest views are stored in session.
		</description>
		<param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<description>
			Only applicable if state saving method is "server" (= default).
			If true (default) the state will be serialized to a byte stream before it
			is written to the session.
			If false the state will not be serialized to a byte stream.
		</description>
		<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			Only applicable if state saving method is "server" (= default) and if
			org.apache.myfaces.SERIALIZE_STATE_IN_SESSION is true (= default)
			If true (default) the serialized state will be compressed before it
			is written to the session. If false the state will not be compressed.
		</description>
		<param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			This parameter tells MyFaces if javascript code should be allowed in the
			rendered HTML output.
			If javascript is allowed, command_link anchors will have javascript code
			that submits the corresponding form.
			If javascript is not allowed, the state saving info and nested parameters
			will be added as url parameters.
			Default: "true"
		</description>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>
			If true, rendered HTML code will be formatted, so that it is "human readable".
			i.e. additional line separators and whitespace will be written, that do not
			influence the HTML code.
			Default: "true"
		</description>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			If true, a javascript function will be rendered that is able to restore the
			former vertical scroll on every request. Convenient feature if you have pages
			with long lists and you do not want the browser page to always jump to the top
			if you trigger a link or button action that stays on the same page.
			Default: "false"
		</description>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			Used for encrypting view state. Only relevant for client side
			state saving. See MyFaces wiki/web site documentation for instructions
			on how to configure an application for diffenent encryption strengths.
		</description>
		<param-name>org.apache.myfaces.SECRET</param-name>
		<param-value>NzY1NDMyMTA=</param-value>
	</context-param>

	<!-- Standard Faces Servlet -->
	<servlet>
		<servlet-name>Standard Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Standard Faces Servlet Mapping-->
	<servlet-mapping>
		<servlet-name>Standard Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
